Source: octopus
Section: science
Priority: optional
Maintainer: Octopus Developers Team <octopus-devel@tddft.org>
Uploaders: Ashwin Kumar Karnad <ashwin-kumar.karnad@mpsd.mpg.de>
Build-Depends: debhelper-compat (=13)
 , automake
 , cpp
 , gcc
 , gfortran (>> 4.1.1)
 , libblas-dev
 , libetsf-io-dev
 , libfftw3-dev
 , libgsl-dev (>> 1.9)
 , liblapack-dev
 , libnetcdf-dev
 , libopenmpi-dev | libmpich-dev
 , libxc-dev
 , perl-modules
 , wget
Standards-Version: 4.6.2

Package: octopus
Architecture: i386 amd64 powerpc
Depends: ${shlibs:Depends}
Description: ab initio td electronic structure 
 octopus is a program aimed at the ab initio virtual 
 experimentation on electron/ion dynamics in external 
 electromagnetic fields of arbitrary intensity, shape 
 and frequency in a hopefully ever increasing range of 
 systems types.
